<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:usesCleartextTraffic="true"
        android:theme="@style/Theme.WELLNESSHOME">
        <activity
            android:name=".MainActivity"
            android:exported="true">
        </activity>
        <activity
            android:name=".SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".OnboardingActivity"
            android:exported="true" />
        <activity
            android:name=".SignUpActivity"
            android:exported="true" />
        <activity
            android:name=".LoginActivity"
            android:exported="true" />
        <activity
            android:name=".DashboardActivity"
            android:exported="true" />
        <activity
            android:name=".MoodSuccessActivity"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>
        <activity
            android:name=".BreathingIntroActivity"
            android:exported="false" />
        <activity
            android:name=".BreathingExerciseActivity"
            android:exported="false" />
        <activity
            android:name=".DailyCompletionActivity"
            android:exported="false" />
        <activity
            android:name=".SnakeGameActivity"
            android:exported="false" />
        <activity
            android:name=".DailyRiddlesActivity"
            android:exported="false" />
        <activity
            android:name=".WordBuilderActivity"
            android:exported="false" />
        <activity
            android:name=".MemoryMatchActivity"
            android:exported="false" />
        <activity
            android:name=".PixelPongActivity"
            android:exported="false" />
        <activity
            android:name=".SettingsActivity"
            android:exported="false" />
        <activity
            android:name=".MoodActivity"
            android:exported="false" />
        <activity
            android:name=".StressActivity"
            android:exported="false" />
        <activity
            android:name=".SleepActivity"
            android:exported="false" />
        <activity
            android:name=".GamesActivity"
            android:exported="false" />
        <activity
            android:name=".RetroBricksActivity"
            android:exported="false" />
        <activity
            android:name=".SpaceDefenderActivity"
            android:exported="false" />
        <activity
            android:name=".MeteorDodgeActivity"
            android:exported="false" />
        <activity
            android:name=".DinoRunActivity"
            android:exported="false" />
        <activity
            android:name=".DailyActivitiesWelcomeActivity"
            android:exported="false" />
        <activity
            android:name=".GameStatisticsActivity"
            android:exported="false" />
        <activity
            android:name=".HabitStreaksActivity"
            android:exported="false" />
        <activity
            android:name=".WeeklyMoodTrendActivity"
            android:exported="false" />
        <activity
            android:name=".MonthlyAnalyticsActivity"
            android:exported="false" />
        <activity
            android:name=".SleepMoodLinkActivity"
            android:exported="false" />
        <activity
            android:name=".StressMoodLinkActivity"
            android:exported="false" />
        <activity
            android:name=".RewardsStoreActivity"
            android:exported="false" />
        <activity
            android:name=".RewardDetailActivity"
            android:exported="false" />
        <activity
            android:name=".BadgeUnlockedActivity"
            android:exported="false" />
        <activity
            android:name=".BadgesActivity"
            android:exported="false" />
        <activity
            android:name=".ForgotPasswordActivity"
            android:exported="true" />
    </application>

</manifest>